/*
Dioggo: 
FUENTES:
*/
@font-face{
    font-family: 'babyDoll';
    src: url("../FONTS/Baby\ Doll.ttf"); /*Dioggo: Esto de aca es una fuente que no es la que se ha elegido aún, solo es una momentanea*/
}

@font-face{
    font-family:'lemonMilkBold';
    src: url("../FONTS/LEMONMILK-Bold.otf");
}

@font-face{
    font-family:'jackpot';
    src: url("../FONTS/Jackpot.ttf");
}

@font-face{
    font-family:'lemonMilkLight';
    src: url("../FONTS/LEMONMILK-Light.otf");
}

@font-face{
    font-family: 'absender';
    src: url("../FONTS/absender1.ttf");/*Dioggo: Esto de aca es una fuente que no es la que se ha elegido aún, solo es una momentanea*/
}

body{
    display: flex;
    margin: 0; /*Dioggo: Esto de aca, esta para que las cajas de la pagina, se peguen a los bordes de esta*/
    flex-direction: column;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url("../IMG/albumFondo.jpg");
    /*Dioggo: Si has leido algo de mis comentarios anteriores, en la parte del HTML, 
    más especificamente en el texto de bienvenida, sabrás que esta imagen, opaca dicho texto, 
    por lo que si saben como hacer que el fondo sea algo más transparente, haga los cambios, o comenten alguna idea*/
    background-size: cover;
    


}header{
    color:white;
    background-color: #ee8813;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0.5em;
}#idiomas img{
    width:2em;
    margin-left: 1em;
    align-self: center;
}#usuario{
    display: flex;
    flex-direction: row;
}
#usuario a{
    font-family: "lemonMilkLight";
    display: flex;
    margin-right: 1em;
    font-size: 1em;
    text-decoration: none;
    color: white;
    align-items: center;
}
#usuario img{
    border-radius: 100%;
    width: 3em;
}
section{
    display: flex;
    align-items: center;
    color: white;
    width: 60%;
}
aside{
    font-family: "lemonMilkBold";  
    color:white;
    width: 40%;
    background-color:#3a414a;
}#separador{
    display: flex;
    flex-direction: row;
}form{
    margin:3em;
    display: flex;
    flex-direction: column;

}#introduccion{
    text-align: left;
    font-family: "lemonMilkLight";  
    margin:3em;
}#introduccion h1{
    font-size: 1cm;
    font-family: "jackpot";
}
.campos{
    text-decoration: none;
    border-radius: 10px;
    font-family: "lemonMilkLight";  
}#logoForm{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
}
#logoForm img{
    width: 7em;
    border-radius: 150px;
 
}#submitButton{
    margin:1em;
    width: 6cm;
    padding: 0.5em;
    border-radius: 20px;
    font-size: 1.5em;
    color: white;
    background-color: orangered;
    border: none;
    font-family: "lemonMilkLight";  
}#submitCaja{
    display: flex;
    justify-content: center;
  
}