
.container{
    margin-top: 6em;
    color: white;
    display: flex;
    justify-content: center;
}
#centrar{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tituloIniciar{
    font-size: 2em;
}
#imagenLogo{
    width: 30%;
}
#correo{
    width: 140%;
    align-self: center;
}
#password{
    width: 140%;
    align-self: center;
}
.textoLogin{
    text-align: center;
}


/* prueba */
 #imagen{
    width: 40%;
 }