
header{
    color:white;
    background-color: rgb(238, 136, 19,0.85);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#div-caja-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
#caja-vacia{
    width: 15%;
}
#logo-cabra{
    display: flex;
    margin: 0.75em;
}
#logo-cabra a{
    display: flex;
    color:black;
    text-decoration: none;
    font-family: "LemonMilkBold";
    font-size: 1em;
    align-items: center;
}

#logo-cabra a .nombre{
    color: white;
    font-style: none;
}

#logo-cabra a img{
    width: 5em;
    border-radius: 100%;
}
#headerArribaDerecha{
    display: flex;
    flex-direction: row;
}
#usuarioFR {
    margin-left: auto; /* Esto alinea los elementos a la derecha */
}
#iconCarrito {
    max-width: 100%; 
    height: auto;
    object-fit: contain;
    align-items: center;
    display: flex;
    font-size: 1.5em;
}

.usuario{
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.usuario a{
    position: relative;
    display: flex;
    font-family: "lemonMilkLight";
    margin-right: 1em;
    font-size: 1em;
    text-decoration: none;
    color: white;
}

#register:hover{
    text-decoration: underline;
}

.usuario img{
    border-radius: 100%;
    width: 2em;
}

#contenedorCarrito{
    width: 20%;
}

.hidden-cart
{
    display: none;
}

.container-cart-products
{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.cart-product
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product
{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito
{
    font-size: 20px;
    color: rgb(238, 136, 19,0.85);
}

.precio-producto-carrito
{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    color: black;
}

.cantidad-producto-carrito
{
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.artista-producto-carrito
{
    font-size: 20px;
    color: rgb(238, 136, 19,0.85);
}

.icon-close
{
    width: 25px;
    height: 25px;
    color: black;
    display: none; /* Oculta la "X" inicialmente */
}

.hidden-cart .icon-close 
{
    display: block; /* Muestra la "X" cuando el carrito no está vacío */
}

.icon-close:hover
{
    stroke: rgb(238, 136, 19,0.85);
    cursor: pointer;
}

.cart-total
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    color: black;
}

.cart-total h3
{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar
{
    font-size: 20px;
    font-weight: 900;
    color: rgb(238, 136, 19,0.85);
}

.cart-empty
{
    font-size: 20px;
    color: rgb(238, 136, 19,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#register{
    font-family: "lemonMilkLight";
    display: flex;
    margin-right: 1em;
    font-size: 1em;
    text-decoration: none;
    color: white;
    align-items: center;
    transition: transform 0.3s ease;    
}
