
header{
    color:white;
    background-color: rgb(238, 136, 19,0.85);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#div-caja-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
#caja-vacia{
    width: 15%;
}
#logo-cabra{
    display: flex;
    margin: 0.75em;
}
#logo-cabra a{
    display: flex;
    color:black;
    text-decoration: none;
    font-family: "LemonMilkBold";
    font-size: 1em;
    align-items: center;
}

#logo-cabra a .nombre{
    color: white;
    font-style: none;
}

#logo-cabra a img{
    width: 5em;
    border-radius: 100%;
}
#headerArribaDerecha{
    display: flex;
    flex-direction: row;
}
#usuarioFR {
    margin-left: auto; /* Esto alinea los elementos a la derecha */
}
#iconCarrito {
    max-width: 100%; 
    height: auto;
    object-fit: contain;
    align-items: center;
    display: flex;
    font-size: 1.5em;
}

.usuario{
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.usuario a{
    position: relative;
    display: flex;
    font-family: "lemonMilkLight";
    margin-right: 1em;
    font-size: 1em;
    text-decoration: none;
    color: white;
}

#register:hover{
    text-decoration: underline;
}

.usuario img{
    border-radius: 100%;
    width: 2em;
}

.cart-products
{
    position: absolute!important;
    top: 82px;
    right: -18px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;
}

.cart
{
    width: 39px;
    height: 38px;
}

.cart:hover
{
    margin-bottom: 16px;
    transition-duration: .5s;
}


/*.icon-close
{
    width: 25px;
    height: 25px;
    color: black;
    display: none; 
}

.hidden-cart .icon-close 
{
    display: block; 
}

.icon-close:hover
{
    stroke: rgb(238, 136, 19,0.85);
    cursor: pointer;
}*/

.cart-total
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    color: black;
}

#register{
    font-family: "lemonMilkLight";
    display: flex;
    margin-right: 1em;
    font-size: 1em;
    text-decoration: none;
    color: white;
    align-items: center;
    transition: transform 0.3s ease;    
}

