#sectionInfo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.viniloInfo{
    width: 40%;
    display: flex;
    flex-direction:column;
    align-items: center;
    border: solid;
    border-color: white;
    margin-top: 4em;
    margin-bottom: 4em;

}

.viniloCanciones{
    width: 40%;
    display: flex;
    flex-direction:column;
    align-items: center;
    border: solid;
    border-color: white;
    margin-top: 4em;
    margin-bottom: 4em;
}

.tituloVinilos h1{
    color:#ee8813; 
    font-size: 2em;
}

#tabla{
    color: white; 
}

#tabla thead tr th{
    color: #ee8813; 
}


.viniloInfo img{
  width: 75%;
  margin-top: 1em;
}